{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
            <li>
                <strong><a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a></strong><br>
                Description: {{ listing.description }}<br>
                Starting Price: ${{ listing.starting_price }}<br>
                Current Price: ${{ listing.current_price }}<br>
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" alt="{{ listing.title }}" style="max-width: 200px;">
                {% endif %}
                <p>Creator: {{ listing.creator }}</p>
                <p>Categories:
                    {% for category in listing.categories.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    {% if listing in user_watchlist %}
                        <button type="submit" disabled>Already in Watchlist</button>
                    {% else %}
                        <button type="submit">Add to Watchlist</button>
                    {% endif %}
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}