{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Category</h2>

    <form method="post">
        {% csrf_token %}
        <label for="name">Category Name:</label>
        <input type="text" name="name" required><br>

        <input type="submit" value="Create Category">
    </form>

    <h2>Existing Categories</h2>

    <ul>
        {% for category in categories %}
            <li>
                <strong><a href="{% url 'category_listings' category.id %}">{{ category.name }}</a></strong><br>
                <form action="{% url 'delete_category' category.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}